chalice==1.32.0
black==25.9.0
mypy==1.18.2
pytest==9.0.2
syrupy==5.0.0
py-pglite==0.5.3
psycopg==3.3.2
types-requests-oauthlib==2.0.0.20250809
apispec==6.9.0
apispec-pydantic-plugin==0.7.0
pre_commit==4.5.1
boto3-stubs==1.42.17
PyMuPDF==1.26.7
pymupdf-stubs==1.26.1.post1
