aurora-data-api
pydantic>2
requests-oauthlib
google-auth
pyjwt
boto3
# kgutwin 2025-11-12  having trouble installing pymupdf this way; chalice cannot find
#                     a wheel that it thinks is compatible with the Lambda runtime.
# PyMuPDF
