aurora-data-api==0.5.0
pydantic==2.12.5
requests-oauthlib==2.0.0
google-auth==2.49.0
PyJWT==2.11.0
psutil==7.2.2
boto3==1.42.68
# kgutwin 2025-11-12  having trouble installing pymupdf this way; chalice cannot find
#                     a wheel that it thinks is compatible with the Lambda runtime.
# PyMuPDF
