@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .display-inherit {
    display: inherit;
  }
}

body {
  @apply bg-gray-50;
}

h1 {
  @apply text-2xl font-bold tracking-wide;
}
h2 {
  @apply text-xl font-bold text-gray-700;
}
h3 {
  @apply text-lg italic;
}

hr {
  @apply border-black m-4;
}

.hide-sm {
  @apply hidden sm:display-inherit;
}
.hide-lg {
  @apply hidden lg:display-inherit;
}
.show-lg {
  @apply display-inherit lg:hidden;
}

.a-hov {
  @apply hover:underline hover:opacity-60;
}

.btn-gray {
  @apply border border-slate-500 rounded-lg px-4 py-1 bg-gray-200;
  /* @apply bg-gradient-to-tr hover:from-blue-200 hover:to-sky-200; */
  @apply hover:bg-slate-200 hover:border-slate-400 transition ease-out;
}
.btn-gray:disabled {
  @apply border-slate-400 text-gray-500;
}

.btn-red {
  @apply border border-red-500 rounded-lg px-4 py-1 bg-red-100;
  @apply hover:bg-red-200;
}

.btn-blue {
  @apply border border-blue-500 rounded-lg px-4 py-1 bg-blue-100;
  @apply hover:bg-blue-200;
}

.btn-icon {
  @apply text-2xl hover:drop-shadow-lg hover:opacity-50;
}

.spn-tag {
  @apply inline-block rounded bg-slate-100 px-2 py-0.5 mx-1 my-px;
}
.spn-req {
  @apply text-red-500;
}

.tbl-definition {
  & td {
    @apply px-4 py-2;
  }
  & td:first-child {
    @apply font-bold text-right;
  }
}

.tbl-definition,
.div-panel {
  @apply rounded bg-gradient-to-tr from-blue-200 to-sky-100 p-4 shadow-lg;
}

.div-loading-panel {
  @apply w-full text-center border border-slate-300 rounded-lg p-4 text-lg mb-4;
}

.frm-edit {
  @apply block rounded bg-sky-100 mt-4 px-4 py-2 shadow-lg;

  & label {
    @apply flex flex-col m-2 gap-2;
  }
  & label > :first-child {
    @apply font-semibold;
  }
}
.frm-edit[disabled="true"] {
  @apply bg-gray-100;
}
.frm-edit.frm-grid {
  @apply grid grid-cols-2;
}

.inp-text {
  @apply rounded-lg px-2 py-1 ring-1 ring-sky-500;
}
.inp-text:disabled {
  @apply text-gray-500;
}
.inp-text:user-invalid {
  @apply bg-red-100 ring-2 ring-red-200;
}

.sel-dropdown {
  @apply p-1;
}

.txt-lg {
  @apply font-mono rounded-lg p-2;
}
.txt-lg:disabled {
  @apply text-gray-500;
}
.txt-lg:user-invalid {
  @apply bg-red-100 ring-2 ring-red-200;
}
.txt-panel {
  @apply font-mono xl:mx-24 2xl:mx-48 min-h-96 border shadow-lg p-8;
}
